<div class="flex flex-col w-full h-full">
  <div class="flex flex-col flex-grow">
    <app-message></app-message>
    <ng-container *ngFor="let message of $messages | async">
      <app-message [message]="message.message"></app-message>
    </ng-container>
    <ng-template adHost></ng-template>
  </div>


  <form #form [formGroup]="messageForm" (submit)="submit()" class="w-full">
    <mat-form-field subscriptSizing="dynamic" class="w-full bg-white">
        <textarea
          matInput
          rows="5" cols="40" placeholder="text"
          formControlName="text"
          (keydown)="onKeyDown($event, form)"
          class="w-full"
        >
        </textarea>
    </mat-form-field>
  </form>

</div>
